@page "/KobRadzenBug"

<RadzenTabs @ref=@tabs>
    <Tabs>
        <RadzenTabsItem Text="Tab 1" Visible="@isT1Visible">
            <h3>Tab 1 Content</h3>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Tab 2">
            <h3>Tab 2 Content</h3>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Tab 3" Selected>
            <h3>Tab 3 Content</h3>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Tab 4">
            <h3>Tab 4 Content</h3>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Tab 5">
            <h3>Tab 5 Content</h3>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

<RadzenSwitch @bind-Value=@isT1Visible />

@code {
    private bool isT1Visible = false;

    private RadzenTabs tabs = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
